<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Koa</title>
</head>
<body>
  <p>
    <%- include('title') %>
    这是一个<%= module %>模板
  </p>
  <p>
    <%= date %>
  </p>
</body>
</html>
