<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/index.css">
  <title>Hello Koa</title>
</head>
<body>
  <p class="head-title">
    <%- include('title') %>
    这是一个<%= module %>模板
  </p>
  <div class="login-container">
    <form id="user-log-form" >
      <label for="user-name">User Name:</label><br>
      <input type="text" id="user-name" name="user-name" maxlength="10"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" maxlength="15" size="7"><br>
      <button id="loging-btn" type="button">Login</button>
    </form>
  </div>
  <p class="date">
    <%= date %>
  </p>
  <script src="script/main.js"></script>
</body>
</html>
