* {
	padding: 0px;
	margin: 0px;
	font-size: 13px;
}
header {
	padding: 20px 10%;
}
.head-title {
	font-size: 2em;
	color: #646464;
}

.submit-btn {
	color: rgb(241, 241, 241);
	border-radius: 5px;
	padding: 3px 12px;
	background-color: rgb(86, 198, 55);
	cursor: pointer;

	display: inline-block;
	margin-top: 20px;
}

#msg-input {
	flex: 1;
	border: none;
	outline: none;
	padding: 3px;
	margin-right: 5px;
	border-bottom: 1px solid #646464;
}
.list-container {
	padding: 20px 10%;
}
.message-list {
	box-sizing: border-box;
	border: 1px solid #d4d4d473;
	border-radius: 10px;
}
.message-item {
	list-style: none;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #d4d4d473 solid;

	display: flex;
}

.msg-date {
	width: 70px
}

.msg-author, .msg-date {
	font-size: 12px;
	color: #696969
}

.msg-author {
	width: 100px;
}

.msg-content {
	flex: 1;
	text-indent: 1em;
}

.message-list .message-item:last-child {
	border: none;
}

.tip {
	display: inline-block;
	min-width: 230px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: #d4d4d473 1px solid;
	border-radius: 10px;
	position: fixed;
	background-color: #ff000038;
	box-shadow: 0 0 1px 1px #9696964a;

	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	transition: all 0.2s ease-in-out;
}

.showTip {
	top: 10%;
}

.form-container {
	min-width: 300px;
	max-width: 650px;
	width: 70%;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.msg-form {
	display: flex;
	flex-wrap: wrap;
}

.msg-content, .msg-author {
	width: 100%;
	border: none;
	outline: none;
	padding: 3px;
	margin-right: 5px;
	border-bottom: 1px solid #646464;
}

.msg-author {
	list-style: none;
	height: 30px;
	line-height: 30px;
	border: 1px #b8b8b873 solid;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 0 5px;
}

.msg-content {
	border: 1px #b8b8b873 solid;
	border-radius: 5px;
	height: 200px;
	resize: none;
}
.msg-btn {
	width: 100%;
	text-align: right;
	padding: 10px 30px;
}