<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet"	href="../public/style/base.css">
	<title>留言板</title>
</head>
<body>
	<header>
		<h1 class="head-title">留言板</h1>
		<article class="message-form">
				<input type="text" id="msg-input" placeholde="留言内容">
				<div class="submit-btn">发布留言</div>
		</article>
	</header>
	<mian>
		<div class="list-container">
			<article class="message-list">
				<ul class="message-ul">
					<li class="message-item">5</li>
				</ul>
			</article>
		</div>
	</mian>

	<script src="../public/script/main.js"></script>
</body>
</html>