<!DOCTYPE html>
<head>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/style/base.css">
    <title>留言板</title>
  </head>
  <bod>
    <div class="form-container">
      <form class="msg-form">
        <input type="text" placeholder="用户名" class="msg-author" name="author">
        <textarea type="text" class="msg-content" placeholder="留言内容" name="content"></textarea>
        <div class="msg-btn">
          <div class="submit-btn">提交</div>
        </div>
      </form>
    </div>
    <script src="../public/script/submit_msg.js"></script>
  </bod>
</head>